extends layout

block content
  h1= title
  p saintclair.com@gmail.com
  p +55 (31) 9341-3400
  a(href='http://github.com/saintclair' target='_blank' title='github')
    img(src='/images/icon-github.png' alt='github')

  a(href='http://br.linkedin.com/in/websaintclair' target='_blank' title='linkedin')
    img(src='/images/icon-linkedin.png' alt='linkedin')

  a(href='http://be.net/saintclair' target='_blank' title='behance')
    img(src='/images/icon-behance.png' alt='behance')
